page-space-list {
  ion-card{
    border-radius: 5px !important;
    padding: 7pt;
  }
  .card-div{
    margin: 0 !important;
    padding: 7pt 0 5pt 10pt;
    border-radius: 0 5px 5px 0;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
  }
  .card-item{
    border-radius: 5px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  }
  .equip-img{
    height: 70pt;
    width: 70pt;
    object-fit: cover;
    margin: 0 !important;
  }
  .label {
    margin: 0;
  }
  .item .item-button{
    margin: 0;
  }
  .view-btn{
    font-size: 1rem !important;
  }
  .left-margin{
    margin-left: 5pt;
  }
}
