<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731628973222-4bun4s96titurj4trh93140s7dk5f6je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731628973222-4bun4s96titurj4trh93140s7dk5f6je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731628973222-a2ura157824b7rhqnjqdicc3bq5m116i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCp4tct5SFZylVYWSczdstFtr5UspgNrN8</string>
	<key>GCM_SENDER_ID</key>
	<string>731628973222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.stage</string>
	<key>PROJECT_ID</key>
	<string>stage-b4398</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-b4398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731628973222:ios:d3c386aee3b1e571845867</string>
	<key>DATABASE_URL</key>
	<string>https://stage-b4398.firebaseio.com</string>
</dict>
</plist>