page-forgot-password {
  .set-bg{
    background-image: url("../assets/img/bg-img.png");
    background-size: 100% 100%;
  }
  .stage-icon{
    padding: 5pt 0pt 10pt 0pt;
    width: 30%;
    margin-top: 25pt;
  }
  .input-div{
    background: white;
    border-radius: 10px;
    margin: 10pt 20pt;
    padding: 0pt 15pt 20pt 10pt;
  }
  .login{
    margin-top: 25pt;
  }
  .login-btn{
    padding: 0 30pt;margin-top: 15pt;
  }
  .input-icon{
    height: 15px;
  }
  .subtitle{
    margin: 15pt 40pt;
  }
  .back-icon{
    position: absolute;
    left: 0;
    padding: 15pt;
    top: 15pt;
    font-size: 2.6rem;
    color: black;
  }
}
