page-payment-detail {
  .price{
    font-size: 3.5rem;
  }
  .price-share-icon{
    font-size: 2.8rem;
  }
  .check{
    font-size: 7rem;
    color: green;
    border-radius: 50%;
  }
  .card-icon{
    font-size: 6rem;
    color: #252525;
    margin-top: 10pt;
  }
  .chat-btn-div{
    margin: 40pt 75pt;
  }
}
