page-freelancer-detail {

  .arrow{
    position: absolute;
    top: 83pt;
    background: white;
    font-size: 2rem;
    color: black;
    padding: 10pt 15pt;
    border-radius: 50%;
  }
  .left-arrow{
    left: 10pt;
  }
  .right-arrow{
    right: 10pt;
  }
  .top-margin{
    margin-top: 25pt;
  }
  .btn-div{
    margin: 30pt 5pt 20pt 0;
    padding: 0;
  }
}
