<ion-content>
  <ion-icon (click)="back()" class="back text-white" name="ios-arrow-back"></ion-icon>
  <img class="cover-img" src="assets/img/freelancer-banner.png">
  <div style="margin: 16pt">
    <round-segment (output)="selectSegment($event)" leftTitle="About" rightTitle="Reviews"></round-segment>
    <div *ngIf="!isReviewSelected" margin-top>
      <ion-item no-lines no-padding>
        <img class="user-img" item-left [src]="hireDetail.profile_pic && hireDetail.profile_pic !=='' && hireDetail.profile_pic !=='http://15.206.103.57/Stage//'?hireDetail.profile_pic:'assets/img/user_default.png'">
        <div item-start>
          <div class="small-text bold-font" *ngIf="hireDetail.first_name!=''">{{hireDetail.first_name}} {{hireDetail.last_name}}</div>
          <div class="small-text bold-font" *ngIf="hireDetail.first_name==''">{{hireDetail.name}}</div>
          <div class="small-text text-grey">{{hireDetail.occupation}}</div>
        </div>
        <button item-right ion-button round small>Follow</button>
      </ion-item>
      <div margin-top class="small-text bold-font">Per Hours - ${{ hireDetail.rate_per_hour }}</div>
      <div text-wrap class="smaller-text text-grey">{{hireDetail.about}}</div>

      <div margin-top class="small-text bold-font">Portfolio</div>

      <div class="row" padding-top>
        <div col-6 no-padding>
          <ion-card>
            <img class="freelancer-project" src="assets/img/freelancer-sub1.png">
            <div style="padding: 5pt">
              <div class="smaller-text">Standard dummy the industry's</div>
              <div text-right class="text-pink smaller-text">$120</div>
            </div>
            <button (click)="viewDetail()" no-margin ion-button full>View Details</button>
          </ion-card>
        </div>
        <div col-6 no-padding>
          <ion-card>
            <img class="freelancer-project" src="assets/img/freelancer-sub2.png">
            <div style="padding: 5pt">
              <div class="smaller-text">Standard dummy the industry's</div>
              <div text-right class="text-pink smaller-text">$120</div>
            </div>
            <button (click)="viewDetail()" no-margin ion-button full>View Details</button>
          </ion-card>
        </div>
      </div>
      <div class="row" padding-top>
        <div col-6 no-padding>
          <ion-card>
            <img class="freelancer-project" src="assets/img/freelancer-sub1.png">
            <div style="padding: 5pt">
              <div class="smaller-text">Standard dummy the industry's</div>
              <div text-right class="text-pink smaller-text">$120</div>
            </div>
            <button (click)="viewDetail()" no-margin ion-button full>View Details</button>
          </ion-card>
        </div>
        <div col-6 no-padding>
          <ion-card>
            <img class="freelancer-project" src="assets/img/freelancer-sub2.png">
            <div style="padding: 5pt">
              <div class="smaller-text">Standard dummy the industry's</div>
              <div text-right class="text-pink smaller-text">$120</div>
            </div>
            <button (click)="viewDetail()" no-margin ion-button full>View Details</button>
          </ion-card>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="isReviewSelected">
    <div margin padding-top class="small-text bold-font">Review<span class="text-grey" style="float: right; font-weight: normal;">[ {{reviewData.length}} reviews ]</span></div>
    <div *ngFor="let item of reviewData">
    <div margin>
      <div class="medium-text bold-font">{{item.comment}}</div>
      <ion-item no-lines no-padding style="min-height: 1rem">
        <img item-left no-padding no-margin class="review-user-img" [src]="item.image && item.image !=='' && item.image !=='http://15.206.103.57/Stage//'?item.image:'assets/img/user_default.png'">
        <div>
          <div text-wrap class="text-grey smaller-text">{{item.comment}}</div>
          <div style="margin-top: 5pt" text-wrap class="text-grey smaller-text">by <span class="text-black bold-font">{{reviewData.name}}</span> . 15 min ago</div>
        </div>
      </ion-item>
      <div class="row">
        <span class="rating-count small-text">{{item.rating}}</span>
        <span margin-left>
            <ionic3-star-rating
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#F29529"
              defaultColor = "#f4f4f4"
              readonly="true"
              rating="{{item.rating}}"
              fontSize = "32px">
            </ionic3-star-rating>
          </span>
      </div>
    </div>
    <div class="saperator"></div>
  </div>
  
  </div>
  <div class="hire-btn-div">
    <button ion-button round full (click)="hire()">Hire</button>
  </div>
</ion-content>
