page-project-inner {
  .user-img{
    height: 25pt;width: 25pt;
    object-fit: cover;border-radius: 5px;
  }
  .set-shadow{
    box-shadow: 2px 2px 5px 1px #e0e0e0;
    border-radius: 20px;
    padding: 3pt 9pt;
    margin: 0 !important;
  }
  .top-margin{
    margin-top: 8pt
  }

  .rating-count{
    background: #F29529;
    color: white;
    padding: 2pt 6pt;
    border-radius: 5px;
    margin-top: 3pt;
  }
  .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0]{
    height: 18px !important;width: 18px !important;
    margin: 0;
    ion-icon{
      font-size: 18px !important;
      padding: 0;
      color: #F29529 !important;
    }
  }
  .review-user-img{
    height: 25pt;width: 25pt;object-fit: cover;border-radius: 5px;
  }
  .review-tab{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10pt 10pt 10pt 20pt;
  }
  .edit-icon{
    position: absolute;
    left: 20pt;
    margin-top: 18pt;
  }
  .green-text{
    color: green;
  }
  .yellow-text{
    color: #E2CB01;
  }
}
