page-view-project {
  .top-margin{
    margin-top: 25pt;
  }
  .btn-div{
    margin: 30pt 70pt;
  }
  .freelancer-img{
    height: 25pt;
    width: 25pt;
    object-fit: cover;
    border-radius: 5px;
  }
}
