page-add-space {
  .select-date{
    padding: 5pt 0;
    width: 100%;
  }
  .calender{
    font-size: 2.5rem;
    margin: 0!important;
  }
  .btn-div{
    margin: 30pt;
  }
  [col-6]{
    padding: 0;
  }
}
