<ion-header>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button padding no-margin ion-button icon-only menuToggle>
        <ion-icon class="text-black" name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center><img class="header-icon" src="assets/img/stage-header.png"></ion-title>
    <ion-buttons end>
      <button padding ion-button icon-only>
        <ion-icon class="text-black" name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isListEmpty" text-center margin-top padding class="bold-font big-text">No {{categoryName}} are available</div>
  <div *ngIf="!isListEmpty">
    <div class="left-margin bold-font medium-text">{{categoryName}}</div>
    <div class="row" margin-top>
      <div col-4 *ngFor="let item of subcatList" (click)="openDetailList(item)">
        <img class="cate-img" [src]="item.image&&item.image!==''?item.image:'assets/imgs/support1.png'">
        <div class="cate-name">
          <div class="small-text bold-font text-white">{{item.title}}</div>
          <div style="margin-top: 3pt" class="smaller-text text-white">{{item.tag}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>