<ion-header>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button padding no-margin ion-button icon-only menuToggle>
        <ion-icon class="text-black" name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center><img class="header-icon" src="assets/img/stage-header.png"></ion-title>
    <ion-buttons end>
      <button padding ion-button icon-only>
        <ion-icon class="text-black" name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isListEmpty && !allproject" text-center margin-top padding class="bold-font big-text">No Projects are available</div>
  <div *ngIf="!isListEmpty || allproject">
  <div class="bold-font big-text">Projects List</div>
  <div *ngIf="!allproject">
    <div margin-top *ngFor="let item of projectList">
      <ion-card (click)="openProjectInner(item,'cancle')">
        <ion-item no-lines no-padding>
          <img item-left class="user-img" [src]="item.profile_pic && item.profile_pic !==''?item.profile_pic:'assets/img/user_default.png'">
          <div class="small-text">{{item.email}}</div>
        </ion-item>
        <div text-wrap class="bold-font small-text">{{item.title}}</div>
        <div style="margin-top: 5pt" text-wrap class="text-grey small-text">
          {{item.description}}
          <span class="yello-text smallest-text" style="float: right">{{item.status}}</span>
        </div>
      </ion-card>
    </div>
  </div>
    <div *ngIf="allproject">
      <div margin-top *ngFor="let item of allproject">
        <ion-card (click)="openProjectInner(item)">
          <ion-item no-lines no-padding>
            <img item-left class="user-img" [src]="item.profile_pic && item.profile_pic !==''?item.profile_pic:'assets/img/user_default.png'">
            <div class="small-text">{{item.email}}</div>
          </ion-item>
          <div text-wrap class="bold-font small-text">{{item.title}}</div>
          <div style="margin-top: 5pt" text-wrap class="text-grey small-text">
            {{item.description}}
            <span *ngIf="item.status=='In Progress'" class="yello-text smallest-text" style="float: right">{{item.status}}</span>
            <span *ngIf="item.status=='Completed'" class="green-text smallest-text" style="float: right">{{item.status}}</span>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
